#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.call-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.call-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
